
/* Estilo para os apaiodares*/

section {
    padding: 60px 0; 
    background-color: #f0f8ff; 
}


.container-fluid {
    max-width: 1200px;
    margin: 0 auto; 
}


.logoProjects .col-md-6:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 20px;
}


.logoProjects h1 {
    font-size: 2.5rem;
    color: #0098dd; 
    margin-bottom: 20px;
    font-weight: bold;
}


.logoProjects p {
    font-size: 1.1rem; 
    color: #333; 
    line-height: 1.6; 
    margin-bottom: 30px;
}


.logoProjects button {
    background-color: #0098dd;
    color: #fff; 
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.logoProjects button:hover {
    background-color: #007bb5; 
}


.logoProjects .col-md-6:last-child {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 20px;
}


.logoProjects img {
    max-width: 100%; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Estilo para o texto inicial */

.support-section {
    padding: 80px 0;
    background: linear-gradient(135deg, #ffffff, #9ee6da);
    color: #000000;
}

.support-section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.support-section h2 {
    font-size: 2.5rem;
    color: #0098dd; 
    margin-bottom: 20px;
    font-weight: bold;
}

.support-section p {
    font-size: 1.1rem; 
    color: #333; 
    line-height: 1.6; 
    margin-bottom: 30px;
}

.support-section button {
    background-color: #0098dd;
    color: #fff; 
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.support-section button:hover {
    background-color: #007bb5; 
}