
.textContact {
    background-color: #0098dd;  
    padding: 3rem 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
  }


  .textContact h1 {
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center; 
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease;
  }
  
  .textContact h1:hover {
    color: #007bff;
    transform: translateY(-5px); 
  

  .contact-description {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center; 
    margin-bottom: 0;
    transition: color 0.3s ease;
  }
  
  .contact-description:hover {
    color: #16a085;  
  }
  
 
  .container {
    max-width: 1140px;
    margin: 0 auto;  
    padding: 2rem;
  }
  

  @media (max-width: 768px) {
    .textContact h1 {
      font-size: 2rem;
    }
  
    .contact-description {
      font-size: 1rem;
    }
  }}

  #btn-enviar-loader {
    display: none;
}



 /* Estilos gerais do formulário */
.forms {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 0 auto;  /* Centraliza o formulário */
    max-width: 1140px;  /* A largura máxima é agora a mesma do "Fale Conosco" */
    width: 100%;  /* Garante que o formulário ocupe 100% até a largura máxima */
  }
  
  .form-label {
    font-weight: bold;
    color: #495057;
  }
  
  /* Inputs e Textarea */
  .form-control {
    border-radius: 8px;
    transition: all 0.3s ease;
    border: 1px solid #ced4da;
    background-color: #ffffff;
  }
  
  .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  /* Botões */
  .btn-submit {
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
  }
  
  .btn-submit:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
  }
  
  /* Loader */
  #btn-enviar-loader {
    display: none;
    padding-left: 20px;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .forms {
      padding: 1.5rem;  /* Menos padding em telas menores */
      max-width: 100%;  /* Remove a largura máxima em telas pequenas */
    }
  
    .form-control {
      font-size: 1rem;  /* Ajusta o tamanho da fonte para dispositivos móveis */
    }
  
    .btn-submit {
      font-size: 1rem;  /* Ajusta o tamanho do botão */
    }
  }
  